Package: ruby-mdl
Version: 0.12.0-1
Architecture: all
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 82
Depends: ruby, ruby-kramdown (>= 2.3), ruby-kramdown-parser-gfm (>= 1.1), ruby-mixlib-cli (>= 2.1.1), ruby-mixlib-config (>= 2.2.1), ruby-mixlib-config (<< 4), ruby-mixlib-shellout
Section: ruby
Priority: optional
Homepage: https://github.com/markdownlint/markdownlint
Description: Markdown lint tool
 Style checker/lint tool for markdown files
