name: Continuous Integration
on: 
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  markdown:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@main
    - name: Lint Markdown
      uses: actionshub/markdownlint@main
      with:
        filesToIgnoreRegex: '((test|example|bin)\/.*|docs\/RULES.md)'
  ruby:
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4']
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run rubocop
      run: bundle exec rubocop
    - name: Run tests
      run: bundle exec rake
  linelint:
    runs-on: ubuntu-latest
    name: Check if all files end in newline
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Linelint
        uses: fernandrone/linelint@master
        id: linelint
